body {
	margin: 0;

	font-family: 'PT Sans', 'Arial', 'Helvetica', 'Arial Narrow', sans-serif;
}

/*Тест без интернета
@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/PTSans/PTSansRegular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/PTSans/PTSansBold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
} */
